html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  font-style: italic;
  background: radial-gradient(circle at center center, #e66465, #9198e5);
}


.stopwatch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}


.stopwatch {
  color: rgb(181, 11, 196);
  font-size: 15vw;
  margin-bottom: 2%;
  font-style: normal;
  text-align: center;
}

span{
  display: inline-block;
}

.milliseconds-display {
display: inline-block;
width: 0.8em;
}

.controls{
  display: flex;
  justify-content: center;
}
.button{
  background-color: #9198e5;
  flex:1fr;
  color: rgba(0, 253, 63, 0.558);
  padding: 3% 7%;
  margin-right: 3%;
  border: none;
  box-shadow: 0 0 10px 6px rgba(226, 152, 152, 0.567);
  font-family: inherit;
  font-size: 10vw;
  border-radius: 30% 9% 30% 9%;
}